# general
*.log
*.pyc
*.npy
*.db
*.out
*.tar.gz

# data
data/*_data.csv
data/trials*.csv
data/D*/
data/census/*
data/dbpedia/

# with_gt
with_gt/dbs/*
with_gt/logs/*

# without_gt
without_gt/sklearn/dbs/
without_gt/sklearn/logs/
without_gt/sklearn/importance/
without_gt/sklearn/ignored/

without_gt/dl/dbs/
without_gt/dl/logs/

without_gt/automl/logs/


# census
census/.embs/*
census/pyjedai/*
census/predictions/*_results.csv
census/census_predictions_06072024.csv

# dbpedia
benchmarking/.embs/*
benchmarking/pyjedai/*
benchmarking/*.gz
benchmarking/predictions/*.csv
benchmarking/census_predictions_06072024.csv


