final/automl/logs/*
final/sklearn/logs/*
final/dl/logs/*
data/*_data.csv
data/trials*.csv
# *.db
with_gt/dbs/*
*.log
trials/dbs/*
trials/results/*
*.pyc
benchmarking/.embs/*
*.npy
benchmarking/pyjedai/*
benchmarking/*.csv
benchmarking/*.gz
benchmarking/predictions/*.csv
benchmarking/census_predictions_06072024.csv
with_gt/logs


